<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meta Check</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>


{{template "svgs"}}
{{template "header"}}



<div id="atf">
    <main>
        <svg class="icon icon-big-in">
            <use xlink:href="#inbox"></use>
        </svg>
        <h1>Meta Check</h1>
    </main>
</div>


</body>

<footer>


</footer>


</html>