<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body, form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: left;
            height: 100vh;
            /*padding-left: 40px;*/
            margin-left: 4rem;
        }
        p {
            margin-left: 4rem;
            font-size: 1rem;
            color: black;
        }

        h2,h3 ,h4,form {
            margin-left: 4rem;
        }
        hr{
            width: 86vw;
            margin-left: 4rem;
            size: 1px;

        }
        input {

            width: 30vw;
            font-size: 1rem;
            color: blue;
            border: 1px solid black;
            margin-left: 4rem;
        }
        .buttonarea{
            display: flex;
            width: 15vw;
            justify-content: space-between;
        }

        .button{

            display: flex;
            justify-content: center;
            align-items: center;

            color: white;
            background-color: gray;
            font-size: 1.5vw;
            padding: 10px 30px;
            margin-right: 15px;
            width: 8vw;


            cursor: pointer;
            border-radius: 8px;
        }
        .button:hover {
            color: #000;
            background-color: lightgrey;
        }

    </style>
</head>
<body>
{{template "header"}}<br><br><br><br>


<h2>Upload For {{.Name}}</h2>

{{/*<p> Create Pages</p>*/}}



{{/*<h3>Files</h3>*/}}





<form method="post" enctype="multipart/form-data" action="/site/upload/process">
    <div>
        <h3><b> Populate Site With Pages From Frog Upload</b></h3>
        <h4>1. Run Frog with chosen website.</h4>
        <h4>2. Export both CSV files to desired folder.</h4>

        <span>
        <h4>3. Select internal_html.csv file</h4>
        {{/*<h4><label for="html">Select internal_html.csv file</label></h4>*/}}
        <input type="file" id="html" name="html"
               accept="internal_html.csv" required>
        </span>

        <h4>4. Select all_images.csv file</h4>
        {{/*<label for="image">Select all_images.csv file</label>*/}}
        <input type="file" id="image" name="image"
               accept="all_images.csv" required>

        <input type="hidden" name="site_id" value="{{.Id}}">
        <input type="hidden" name="name" value="{{.Name}}">
    </div>
    <h4>5. Select Upload.</h4>
    <br />
    <div class = "buttonarea"><input class="button" type="submit" value="Upload">

        <a href="#" class="button" onclick="history.back();">Cancel</a>
    </div>

</form>

</body>
</html>