{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meta Check</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/header.css">
</head>
<header>
    <nav>

        <ul>

            <li><a href="/">Home</a></li>
            <li><a href="/customers">Customers</a></li>
        </ul>


    </nav>

</header>
{{end}}