<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: left;

            width:  100vw;
        }
        p {

            font-size: 1rem;
            color: black;
        }

        h2{
            margin-left: 4rem;
        }
        hr{
            width:100%;
            size: 1px;

        }

        .showarchived {
            font-size: 1rem;
            color: dodgerblue;
            justify-items: flex-end;
            margin-left: 4rem;
        }
        .col3Row {
           color: #ff6f6f;
        }

        section{
            display: flex;
            flex-flow: wrap;
            margin-left: 4rem;
            margin-right: 4vw;
        }

        a:hover{
            color: blue;
        }
        .col1Row:hover, .col3Row:hover{
            color: red;
        }

        .col1Title{
           width: 35vw;
        }
        .col2Title{
            width: 35vw;
        }
        .col1Row{
            width: 35vw;
            color: #ff6f6f;
        }
        .col2Row{
            width: 35vw;
            color: #ff6f6f;
        }
    </style>
</head>
<body>


{{template "header"}}<br><br><br><br>


<h2>Customers - Archived</h2>


<br>
<br>
<a class="showarchived" href="/customers?archived=no">Show Standard</a>



<br>
<section>
{{if .}}

<h3 class="col1Title">Name</h3>
<h3 class="col2Title">Date</h3>
{{else}}
    <h3>No existing archived customers.</h3>
{{end}}

{{range .}}



    <a class="col1Row" href="/customer/site?customer_id={{.Id}}&archived=yes">{{.Name}}</a>

    <div class="col2Row">{{.Date}}</div>


    <a class="col3Row" href="/customer/update?id={{.Id}}">Edit</a>

    <hr>
{{ end }}

</section>


</body>
</html>






{{/*
{{range .customers}}
Customer Name:  {{.name}}<br><br>
{{range .sites}}
Site Name:      {{.name | .SiteName}}<br>
Url:            {{.url}}<br><br>

{{if .pages}}
{{range .pages}}
Name:           {{.name}}<br>
Title:          {{.title}}<br>
Description:    {{.description}}<br><br><br>
{{end}}

{{end}}
{{end}}
{{end}}


</body>
</html>*/}}
