<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <style>
        html, body, header, nav, button, main, h1 {
            padding: 0;
            border: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html {
            color: black;
            font-size: 1vw;
        }

        form{
            display: flex;
            flex-flow: column;
            width: 40rem;
            justify-content: center;
            align-items: center;
        }

        .button{
            width: 7rem;
            cursor: pointer;
            border-radius: 8px;

        }
        button:hover {
            color: blue;
            background-color: lightgrey;
        }

        .inputLogin{
            background-color: lightcyan;
            width: 25rem;
        }

        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* format */
            color: dodgerblue;
        }

        h1 {
            color: rgba(169, 169, 169, 0.87);
            font-size: 3rem;
            letter-spacing: .7rem;
            text-transform: uppercase;
        }
        .form-field-err{
            color: red;
            width: 25rem;
            text-align: left;
        }
        .signup {
            color: dodgerblue;
        }

    </style>
</head>
<body>
{{template "header"}}
<br><br><br><br><br><br>
<h1>Sign In</h1>
<h1>To</h1>
<h1>Meta Check</h1>

<br><br>
<form method="POST" action="/index/login/process" id="form-create-user">

    <input class="inputLogin" type="email" name="username" id="username"  placeholder="Email (e.g. myemail@intouchsol.com)" title="Please use an @intouchsol.com email." required>
    <p class="form-field-err" id="username-err"></p>
    <input class="inputLogin" type="password" name="password" id="password1" placeholder="Password" required>
    <p></p>
    <br>
    <input class="button" type="submit" id="submitbutton">
</form>

<h3 id="success">{{.}}</h3>
<br><br>
<a class="signup" href="/index/signup">Not signed up. Register now.</a>
<br><br>
<a class="signup" href="#"  onclick="history.back();">Back</a>





<script>
    var formUser = document.querySelector('#form-create-user');
    var username = document.querySelector('#username');
    var p1 = document.querySelector('#password1');
    var p2 = document.querySelector('#password2');

    var nameErr = document.querySelector('#username-err');
    var pErr = document.querySelector('#password-err');



    username.addEventListener('focusout', function () {
        if((username.value).indexOf("@intouchsol") === -1){
            nameErr.textContent = 'Please use company email, xxx@intouchsol.com';
            document.querySelector('#submitbutton').disabled = true;
            }
    });
    //

    //    username must be unique
    username.addEventListener('input', function(){
        console.log(username.value);




    var xhr = new XMLHttpRequest();
        xhr.open('POST', '/checkUserName', true);
        xhr.addEventListener('readystatechange', function(){
            if(xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200){
                var item = xhr.responseText;
                console.log(item);
                if (item == 'false') {
                    nameErr.textContent = 'Username taken - Try another name!';
                    document.querySelector('#submitbutton').disabled = true;
                } else {
                    nameErr.textContent = '';
                    document.querySelector('#submitbutton').disabled = false;
                }

            }

        });
        xhr.send(username.value);
    });


    p2.addEventListener('focusout',function (e) {
        var ok = validatePasswords();

        if (!ok) {
            e.preventDefault();
            return;
        }
    });


    //    Validate passwords
    //    listen for submit button click
    formUser.addEventListener('submit', function(e){
        var ok = validatePasswords();

        if (!ok) {
            e.preventDefault();
            return;
        }
    });

    function validatePasswords() {
        pErr.textContent = '';
        if (p1.value === '') {
            pErr.textContent = 'Enter a password.';
            return false;
        }
        if (p1.value !== p2.value) {
            pErr.textContent = 'Your passwords did not match. Please re-enter your passwords.';
            p1.value = '';
            p2.value = '';
            return false;
        }
        return true;
    };

</script>

</body>
</html>