<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Compare</title>
    <style>
        html, body, p,h1,h2,h3 {
            padding: 0;
            border: 0;
            margin: 0;
            font-size: 1rem;
            color: black;
        }
        body {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: left;
           }
        hr{
            width:100%;
            size: 1px;
        }
        .sectionTitle{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
        }
        .siteErr{
            justify-content: center;
            width: 50vw;
            margin-left: 1rem;
            color: red;
        }
        .col1Title{
            justify-content: left;
            width: 30vw;
            margin-left: 1rem;
        }
        .col2Title{
            justify-content: left;
            width: 30vw;

        }
        .sectionHead{
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: left;
            background-color: #7aa1ff;
            font-size: large;
            color: white;
        }

        .col1Head {
            justify-content: left;
            width: 10vw;
            margin-left: 1rem;
        }
        .col2Head {
            justify-content: left;
            width: 30vw;
            padding-right: 1rem;
        }
        .col3Head {
            display: flex;
            flex-flow: row;
            align-content: center;
            justify-content: center;
            width: 10vw;

        }
        .col4Head {
            justify-content: left;
            width: 30vw;
            padding-left: 1rem;
        }
        .sectionRow{
            display: flex;
            flex-flow: row;
            justify-content: flex-start;


        }
        .col1 {
            justify-content: left;
            width: 10vw;
            margin-left: 1rem;
        }
        .col2 {
            justify-content: left;
            width: 30vw;
            padding-right: 1rem;
        }
        .col3Match {
            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 10vw;
            background-color: greenyellow;
            align-content: center;

        }
        .col3NoMatch {
            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 10vw;
            background-color: #ff6b73;
            align-content: center;
        }
        .col4{
            justify-content: left;
            width: 30vw;
            padding-left: 1rem;
        }
        .col5{
            justify-content: left;
            width: 20vw;
            padding-left: 1rem;
        }
        .DescArea{
            /*font-size: 1.2rem;*/
            /*color: blue;*/
            width: 30vw;
        }
        textarea{
            border: transparent;
            font-family: inherit;
            font-size: inherit;
            resize: none;
        }
        .createlink {
            font-size: 1rem;
            color: dodgerblue;
            margin-left: 1rem;
        }
        a:hover{
            color: blue;
        }
        /*.sectionTitle1{*/
            /*display: flex;*/
            /*flex-flow: row;*/
            /*padding-bottom: 8px;*/
        /*}*/

        /*section{*/
            /*display: flex;*/
            /*flex-flow: wrap;*/
            /*!*justify-content: space-between;*!*/
            /*!* formatting *!*/

            /*margin-left: 4rem;*/
            /*margin-right: 4vw;*/
        /*}*/

        /*}*/
        /*.col3{*/
            /*font-size: 1.2rem;*/
            /*justify-content: left;*/
        /*}*/
        /*.titles{*/

            /*margin-left: 4rem;*/
            /*font-size: 1.2rem;*/
            /*width: 7rem;*/
        /*}*/


        /*.col2 {*/
            /*width: 35vw;*/
            /*margin-right: 50px;*/
        /*}*/
        /*.titles{*/

            /*margin-left: 4rem;*/
            /*font-size: 1.2rem;*/
            /*width: 7rem;*/
        /*}*/



    </style>
</head>
<body>


{{template "header"}}<br><br><br><br>
<br>
<h2 class="col1Title">Compare Pages</h2>
<br>

<div class="sectionTitle">
<span class="col1Title">Customer: {{.CustomerName}}</span>
{{$customer := .CustomerName}}
<span class="col1Title">Site: {{.CsvSite.Name}}</span>
{{$site := .CsvSite.Name}}

{{if .Diffs}}
<span class="col1Title">Mismatch Html Count: {{.Mismatch}}</span>
<span class="col1Title">Mismatch Image Count: {{.MismatchImage}}</span>
<span class="col1Title">Mismatch Html Url Count: {{.UrlMisMatch}}</span>
{{/*<span class="col1Title">Standard Count:{{.StdPageCount}} - Compare Count:{{.CsvPageCount}}*/}}
{{/*- Matching: {{.MatchPageCount}}</span>*/}}
</div>
{{else}}
<br><br>
<div class="siteErr">
    <h1>No comparison can be made with the selected Frog file.</h1>
    <h1>The Url for the standard site does not match the site url from the Frog file.</h1>
    <br>
    <h1>Use the browser back arrow to go back to upload page.</h1>
    <h1>Check for correct site scanned or the file selected for upload.</h1>
</div>
{{end}}

<br>


{{range .Diffs}}

<div class="sectionHead">
<div class="col1Head">Site Page: {{.UxNumber}}</div>
<div class="col2Head">{{.Name}}:</div>
<div class="col3Head">Match ?</div>
<div class="col4Head">Comparison:</div>
</div>

{{$fieldUrl := "Url"}}
{{$fieldTitle := "Title"}}
{{$fieldDescription := "Description"}}
{{$fieldCanonical := "Canonical"}}
{{$fieldMetaRobot := "MetaRobot"}}
{{$fieldOgTitle := "OgTitle"}}
{{$fieldOgDesc := "OgDesc"}}
{{$fieldOgImage := "OgImage"}}
{{$fieldOgUrl := "OgUrl"}}


<div class="sectionRow">
    <div class="col1">Page Url</div>
    <div class="col2">{{.UrlStd}}</div>
    {{if.UrlMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.UrlCsv}}</div>
    {{if .UrlMatch}}{{else}}<a class="createlink" href="/diff?std={{.UrlStd}}&csv={{.UrlCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldUrl}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">Title Tag</div>
    <div class="col2">{{.TitleStd}}</div>
{{if.TitleMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.TitleCsv}}</div>
{{if .TitleMatch}}{{else}}<a class="createlink" href="/diff?std={{.TitleStd}}&csv={{.TitleCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldTitle}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">Description Tag</div>
    <div class="col2">{{.DescriptionStd}}</div>
{{if.DescriptionMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.DescriptionCsv}}</div>
{{if .DescriptionMatch}}{{else}}<a class="createlink" href="/diff?std={{.DescriptionStd}}&csv={{.DescriptionCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldDescription}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">Canonical Tag</div>
    <div class="col2">{{.CanonicalStd}}</div>
{{if.CanonicalMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.CanonicalCsv}}</div>
{{if .CanonicalMatch}}{{else}}<a class="createlink" href="/diff?std={{.CanonicalStd}}&csv={{.CanonicalCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldCanonical}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">MetaRobot Tag</div>
    <div class="col2">{{.MetaRobotStd}}</div>
{{if.MetaRobotMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.MetaRobotCsv}}</div>
{{if .MetaRobotMatch}}{{else}}<a class="createlink" href="/diff?std={{.MetaRobotStd}}&csv={{.MetaRobotCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldMetaRobot}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">OgTitle Tag</div>
    <div class="col2">{{.OgTitleStd}}</div>
{{if.OgTitleMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.OgTitleCsv}}</div>{{if .OgTitleMatch}}{{else}}<a class="createlink" href="/diff?std={{.OgTitleStd}}&csv={{.OgTitleCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldOgTitle}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">OgDesc Tag</div>
    <div class="col2">{{.OgDescStd}}</div>
{{if.OgDescMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.OgDescCsv}}</div>
{{if .OgDescMatch}}{{else}}<a class="createlink" href="/diff?std={{.OgDescStd}}&csv={{.OgDescCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldOgDesc}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">OgImage Tag</div>
    <div class="col2">{{.OgImageStd}}</div>
{{if.OgImageMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.OgImageCsv}}</div>
{{if .OgImageMatch}}{{else}}<a class="createlink" href="/diff?std={{.OgImageStd}}&csv={{.OgImageCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldOgImage}}">Show Differences</a>{{end}}
</div>

<div class="sectionRow">
    <div class="col1">OgUrl Tag</div>
    <div class="col2">{{.OgUrlStd}}</div>
{{if.OgUrlMatch}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">{{.OgUrlCsv}}</div>
{{if .OgUrlMatch}}{{else}}<a class="createlink" href="/diff?std={{.OgUrlStd}}&csv={{.OgUrlCsv}}&customer={{$customer}}&site={{$site}}&url={{.UrlStd}}&field={{$fieldOgUrl}}">Show Differences</a>{{end}}
</div>

{{range .DiffImages}}
<hr>
<div class="sectionRow">
    <div class="col1">Image Url</div>
    <div class="col2">
    <textarea id="Description" name="Description" rows="3" cols="15" class="DescArea" >{{.ImageUrlStd}}</textarea>
    </div>
    <div class="col3Match">Match</div>
    <div class="col4">
    <textarea id="Description" name="Description" rows="3" cols="15" class="DescArea" >{{.ImageUrlCsv}}</textarea>
    </div>
</div>

<div class="sectionRow">
    <div class="col1">Alt Text</div>
    <div class="col2">
        <textarea id="Description" name="Description" rows="3" cols="15" class="DescArea" >{{.AltTextStd}}</textarea>
    </div>
{{if.Match}}<div class="col3Match">Match</div>{{else}}<div class="col3NoMatch">No Match</div>{{end}}
    <div class="col4">
        <textarea id="Description" name="Description" rows="3" cols="15" class="DescArea" >{{.AltTextCsv}}</textarea>
    </div>
</div>





{{end}}

{{end}}
{{/*{{range .CsvSite.Pages}}*/}}
</body>
</html>