<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MetaCheck</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>
{{template "header"}}
<strong>ABOUT</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>


{{range .Customers}}
Customer Name:  {{.Name}}<br><br>
{{range .Sites}}
Site Name:      {{.Name | .SiteName}}<br>
Url:            {{.Url}}<br><br>

{{if .Pages}}
{{range .Pages}}
Name:           {{.Name}}<br>
Title:          {{.Title}}<br>
Description:    {{.Description}}<br><br><br>
{{end}}

{{end}}
{{end}}
{{end}}



</body>
</html>