<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;

        }
        body, form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: left;
            /*height: 100vh;*/
            /*padding-left: 40px;*/
            margin-left: 4rem;

        }
        p {
            margin-left: 4rem;
            font-size: 1rem;
            color: black;
        }

        h2,h3 {
            margin-left: 4rem;
        }
        hr{
            width: 86vw;
            margin-left: 4rem;
            size: 1px;

        }
        input {

            width: 40vw;
            font-size: 1rem;
            color: blue;
            border: 1px solid black;
        }
        .buttonarea{
            display: flex;
            width: 15vw;
            justify-content: space-between;
            border-bottom: 5rem;
        }

        .button{

            display: flex;
            justify-content: center;
            align-items: center;

            color: white;
            background-color: gray;
            font-size: 1.5vw;
            padding: 10px 30px;
            margin-right: 15px;
            width: 8vw;


            cursor: pointer;
            border-radius: 8px;
        }
        .button:hover {
            color: #000;
            background-color: lightgrey;
        }
        .DescArea{
            font-size: 1.2rem;
            color: black;
            width: 40vw;
        }
    </style>
</head>
<body>
{{template "header"}}<br><br><br><br>


<h2>Add Image</h2>

<p>Customer: {{.CustomerName}}</p>
<p>Site: {{.SiteName}}</p>
<p>Page: {{.PageName}}</p>

<br>


<form method="post" action="/image/create/process">

    <label for="altText">Alt Text:</label>
    <div>
        <textarea id="Description" name="altText" rows="4" cols="15" class="DescArea" placeholder="Alt Text" ></textarea>
    </div>

    {{/*<label for="altText">Alt Text</label>*/}}
    {{/*<input type="text" name="altText" placeholder="Alt Text" >*/}}
    <br>

    <label for="files">Image</label>
    <input type="file" name="files" id="files"  placeholder="Image" accept="image/*" required >
    <br>
    <output id="list"></output>








    <br>






{{/*<input type="hidden" name="customer_id" value="{{.CustomerId}}">*/}}

    <div class = "buttonarea"><input class="button" type="submit">
    {{/*<a href="/customers" class="button">Cancel</a>*/}}
        <a href="#" class="button" onclick="history.back();">Cancel</a>
    </div>


</form>
<br><br><br>
<script type="text/javascript">
    if (window.FileReader) {
        //then your code goes here
    } else {
        alert('This browser does not support FileReader');
    }
    document.getElementById('files').addEventListener('change', handleFileSelect, false);

    function handleFileSelect(evt) {
        var files = evt.target.files;
        var f = files[0];
        var reader = new FileReader();
        var image_x = document.getElementById('list');

        if( document.getElementById("files").files.length == 0 ){
            // image_x.parentNode.removeChild(image_x);}
            document.getElementById("list").style.visibility="hidden";}else {
            document.getElementById("list").style.visibility="visible";
        }


        reader.onload = (function(theFile) {
            return function(e) {
                document.getElementById('list').innerHTML = ['<img src="', e.target.result,'" title="', theFile.name, '" width="100" />'].join('');
            };
        })(f);

        reader.readAsDataURL(f);
    }



</script>



</body>

</html>