<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/main.css">
</head>
<body>

{{range .Customers}}
Customer Name:  {{.Name}}<br><br>
{{range .Sites}}
Site Name:      {{.Name | .SiteName}}<br>
Url:            {{.Url}}<br><br>

{{if .Pages}}
{{range .Pages}}
Name:           {{.Name}}<br>
Title:          {{.Title}}<br>
Description:    {{.Description}}<br><br><br>
{{end}}

{{end}}
{{end}}
{{end}}

<img src="public/pic/surf.jpg" alt="A man surfing a wave">

</body>
</html>