<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
{{.Fall.Term}}<br>
{{$age := .}}
<h1>I am this many years old: {{$age}}</h1>
</body>
</html>