<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>

{{range .Customers}}
Customer Name:  {{.Name}}
{{range .Sites}}
Site Name:      {{.Name | .SiteName}}<br>
Url:            {{.Url}}<br>

{{range .Pages}}
Name:           {{.Name}}<br>
Title:          {{.Title}}<br>
Description:    {{.Description}}<br>

{{end}}
{{end}}
{{end}}



</body>
</html>